[submodule "AssetModule"]
	path = AssetModule
	url = https://github.com/UnionVMS/UVMS-Asset
[submodule "AuditModule"]
	path = AuditModule
	url = https://github.com/UnionVMS/UVMS-AuditModule
[submodule "ConfigModule"]
	path = ConfigModule
	url = https://github.com/UnionVMS/UVMS-ConfigModule
[submodule "MobileTerminalModule"]
	path = MobileTerminalModule
	url = https://github.com/UnionVMS/UVMS-MobileTerminalModule
[submodule "Libraries"]
	path = Libraries
	url = https://github.com/UnionVMS/UVMS-Libraries
[submodule "MovementModule"]
	path = MovementModule
	url = https://github.com/UnionVMS/UVMS-MovementModule
[submodule "RulesModule"]
	path = RulesModule
	url = https://github.com/UnionVMS/UVMS-RulesModule
[submodule "ExchangeModule"]
	path = ExchangeModule
	url = https://github.com/UnionVMS/UVMS-ExchangeModule
