[submodule "AssetModule"]
	path = AssetModule
	url = https://github.com/UnionVMS/UVMS-Asset
[submodule "AuditModule"]
	path = AuditModule
	url = https://github.com/UnionVMS/UVMS-AuditModule
[submodule "ConfigModule"]
	path = ConfigModule
	url = https://github.com/UnionVMS/UVMS-ConfigModule
[submodule "MobileTerminalModule"]
	path = MobileTerminalModule
	url = https://github.com/UnionVMS/UVMS-MobileTerminalModule
